body {
    background-color: black;
    color: white;
    margin: 0px;
    
}

#one {

    padding: 50px;
    height: 200px;
    font-family: 'Oxygen', sans-serif;
    text-align: center;
  
 
}
img {
    width: auto;
    height: auto;
}

h1 {
    padding-top: 50px;
    font-size: 35px;
    margin-bottom: 0px;
    font-family: 'Michroma', sans-serif;
    text-align: center;

    
}




@media screen and (max-width: 500px) {

    #one {
        padding: 25px; 
        position: relative;    
    }
    .zero {
        padding-top: 25px;
        position: absolute;
        top: 50%;
    }
    h1 {
        font-size: 20px;
        text-align: center;
    }
    img {
       width: 100%;
       height: auto;
    }
   

}



