body {
    background-color: black;
    color: white;
    margin: 0px;
    
}

#one {

    padding: 50px;
    height: 200px;
    font-family: 'Oxygen', sans-serif;
    text-align: center;
 
}
img {
   
}
h1 {
    padding-top: 50px;
    font-size: 35px;
    margin-bottom: 0px;
    font-family: 'Michroma', sans-serif;
    text-align: center;

    
}




@media screen and (max-width: 500px) {

    #one {
        padding: 25px;     
    }
    h1 {
        font-size: 20px;
        text-align: center;
    }
    img {
       
    }
   

}



